<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class ="col-md-6">
      <a class="navbar-brand  ">borzo</a>
      <i class="bi bi-geo-alt-fill "></i> Chennai
    </div>
  New Customer 2
  
      <form class="d-flex">
        
        <input class="form-control " type="search" placeholder="Order Delivery" aria-label="Search">
  
      </form>
        <form class="d-flex">
      
          <input class="form-control " type="search" placeholder="Login / Signup" aria-label="Search">
  
        </form>
    
    </div>
  </nav>
  <br><br>
  <section class="Form my-2 mx-4" >
    <div class="container">
      <div class="row">
  <div class="col-lg-5  ">
  <img src="assets/image/man.jpeg" class="img-fluid" alt="No image" >
  </div>
  
  <div class="col-lg-5 px-5 pt-2">
    <h1 class="font-weight-bond ">Fastest Courier <br> Service in Chennai</h1>
    <h6 class="font-weight-bond ">Low-priced same day delivery service</h6>
  
  
    <form>
      <div class="form-row">
        <div class="col-lg-11">
  
        <input id="address" type="text" class="form-control my-4 p-2" name="email" placeholder="Pick up Address">
      
        </div>
      </div>
  
      <div class="form-row">
        <div class="col-lg-11">
  <input type="address" placeholder="Delivery address" class="form-control  my-4 p-2">
        </div>
      </div>
  
      <div class="form-row">
     
          <button type="button" class="btn btn-primary">Book a courier</button>
          <p class="my-3 p-2">Book without registering, urgent delivery at no<br> extra cost </p>
        
      </div>
    </form>
  </div>
  </div>
  </div>
  
  </section>
  